@model CursoMVC20191.Models.User


@{
    ViewData["Title"] = "Index";
    string Nombre = "Alejandro";
}

<h1>Index</h1>
<p> @Nombre</p>

@for (int i = 0; i < 20; i++)
{
    <b>@i </b>
}

<div>  
    @Model.Name
    <br /> 
    @Model.Email
</div>

